*.iml
.gradle
/local.properties
.idea
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

androidApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist

*.xcuserdata/
*.xcscmblueprint
*.xccheckout

*.podspec
iosApp/Pods/
!iosApp/Podfile
!iosApp/Podfile.lock
!iosApp/iosApp.xcworkspace