<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>NSCameraUsageDescription</key>
        <string>We need camera access to scan barcodes.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>We need photo library access to scan saved barcodes.</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>org.esncy.esnscanner</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>org.esncy.esnscanner</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
